{% extends 'layout.html' %}
{% block body_content %}

<!--     <div>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
                <div class='form_group'>
                    {{ form.submit }}
		        </div>
	    </form>
    </div> -->
    {% if animal1 is sameas "" %}
        <div>
            <h1>Welcome to the Animal Generator</h1>
        </div>
    {% else %}
        <div>
            <i>Merging a {{ animal1 }} and a {{ animal2 }} together.</i>
            <b>Merge Complete.</b>
            <u>You have created a {{ newanimal }}</u>
        </div>
        <div>
            <p>Past animal creations...</p>
            <p>
                {% for name in allanimalnames %}
                {{ name.animalname }} <br>
                {% endfor %}
            </p>
        </div>
    {% endif %}
    
    

{% endblock body_content %}
